body {
    font-family: Arial;
    padding: 20px;
}

h2{
    margin-bottom:15px;
}

.form-box, .login-box{
    width: 350px;
    display:flex;
    flex-direction:column;
    gap:8px;
}

input,textarea,button{
    padding:8px;
    font-size:15px;
}

button{
    background:#0077ff;
    color:white;
    border:0;
    cursor:pointer;
}

button:hover{
    opacity:.8;
}

table{
    margin-top:20px;
    border-collapse:collapse;
    width:100%;
}

th,td{
    border:1px solid #bbb;
    padding:6px;
    text-align:center;
}

@media(max-width:600px){
    table{
        font-size:13px;
    }
}
