body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 { margin-bottom: 20px; }

form, table {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px 15px;
    background: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
}

.btn {
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
}

.logout {
    float: right;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.ok {
    color: green;
    font-weight: bold;
}
