<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Буровик</title>
</head>
<body>
    <h2>Форма буровика</h2>

    <p>Пользователь: <b>{{ user }}</b></p>

   <form method="post" action="/bur">
    <input name="area" placeholder="Участок" required>

    <input name="meters" type="number" placeholder="Метраж" required>
    <input name="pogonometr" type="number" placeholder="Погонометр" required>

    <textarea name="note" placeholder="Примечание"></textarea>

    <button type="submit">Отправить</button>
</form>




    <br>
    <a href="/logout">Выйти</a>
</body>
</html>
