<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Диспетчерская</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Диспетчерская сводок буровиков</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Дата и время</th>
            <th>Участок</th>
            <th>Буровая</th>
            <th>Метраж</th>
            <th>Погонометр</th>
            <th>Примечание</th>
        </tr>
        {% for r in reports %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.date_time }}</td>
            <td>{{ r.location }}</td>
            <td>{{ r.rig_number }}</td>
            <td>{{ r.meterage }}</td>
            <td>{{ r.pogon }}</td>
            <td>{{ r.note }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
