<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель диспетчера</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Сводка буровиков</h2>
    <a href="/export_excel">📥 Экспорт в Excel</a> | 
    <a href="/logout">Выйти</a>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th><th>Дата</th><th>Время</th><th>Участок</th><th>Буровая</th><th>Метраж</th><th>Погонометр</th><th>Примечание</th>
        </tr>
        {% for r in reports %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.date }}</td>
            <td>{{ r.time }}</td>
            <td>{{ r.location }}</td>
            <td>{{ r.drill_number }}</td>
            <td>{{ r.meterage }}</td>
            <td>{{ r.footage }}</td>
            <td>{{ r.note }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
