<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход для диспетчера</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Вход для диспетчера</h2>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form action="/login_dispatcher" method="post">
        <input type="text" name="username" placeholder="Логин" required><br>
        <input type="password" name="password" placeholder="Пароль" required><br>
        <button type="submit">Войти</button>
    </form>
</body>
</html>
