<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Пользователи</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Пользователи</h2>
<a href="/dispatcher">← назад</a>
<hr>

<h3>Добавить буровика</h3>

<form action="/users/create" method="post" class="box">
  <label>Имя пользователя</label>
  <input name="username" required>

  <label>ФИО</label>
  <input name="full_name" required>

  <label>Пароль</label>
  <input name="password" type="password" required>

  <button>Создать</button>
</form>

<hr>

<h3>Все пользователи</h3>
<table>
<tr><th>ID</th><th>Логин</th><th>ФИО</th><th>Роль</th></tr>
{% for u in users %}
<tr>
<td>{{u.id}}</td>
<td>{{u.username}}</td>
<td>{{u.full_name}}</td>
<td>{{u.role}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>
